<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Autos 🚀</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar-index ">
            <!-- <img class="logo-nav" src="../static/imagenes/logos-nav.webp" alt="logo agencia de aprendizaje"> -->
            <img class="logo-nav" src="https://static.vecteezy.com/system/resources/previews/006/850/314/non_2x/auto-car-dealer-logo-design-with-concept-sports-vehicle-icon-silhouette-on-black-background-illustration-vector.jpg"
            alt="logo agencia de autos">
        </nav>
    </header>

    <div class="logo-centrado">
        <!-- <img src="../static/imagenes/logo_Codo.jpg" alt="logo"> -->
        <img class="logoCar" src="https://us.123rf.com/450wm/themoderncanvas/themoderncanvas2109/themoderncanvas210900008/175067545-logotipo-de-escudo-de-silueta-de-coche-deportivo-signo-de-concesionario-de-veh%C3%ADculos-de-motor-de.jpg"
        alt="logoCar">
    </div>
    <h1>Agregar autos al Inventario</h1><br>

    <!--enctype="multipart/form-data" es necesario para enviar archivos al back.-->
    <form id="formulario" enctype="multipart/form-data">
        
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" required><br>

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required><br>

        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" required><br>

        <!-- <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" required><br> -->

        <label for="cantidad">Cantidad:</label>
        <input minlength="1" maxlength="3" type="number" id="cantidad" name="cantidad" required><br>

        <label for="precio">Precio:</label>
        <input maxlength="8" type="number" step="0.01" id="precio" name="precio" required><br>

        <label for="imagenProducto">Imagen del producto:</label>
        <input type="file" id="imagenProducto" name="imagen">
        
        <button type="submit"> + Agregar Auto</button>
        <a href="../templates/crud.html">Menu principal</a>
    </form>
    <footer>
        <!-- TALVEZ SE DEBERIA AGREGAR MAS INFO O MARKETING -->
        <section class="infoMarketing">
            <div class="redes">
                <a href="https://www.facebook.com/concesionaria"><img src="https://cdn-icons-png.flaticon.com/256/124/124010.png" alt="Facebook"></a>
                <a href="https://www.twitter.com/concesionaria"><img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/concecionaria"><img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram"></a>
            </div>
            <h3 class="espaciado3">SOMOS TOP UNO EN VENTAS</h3>
            <img src="https://png.pngtree.com/png-clipart/20221008/original/pngtree-number-1-best-seller-award-badge-png-image_8666630.png"
                alt="topOne">
            <h3 class="espaciado3">SOMOS TOP UNO EN VENTAS</h3>
            <h3>
                La concesionaria que redefine la excelencia. “Autos Prestigio” no es solo un destino, es la cumbre del
                lujo automotriz. Con una selección inigualable de vehículos de alta gama y un servicio al cliente que
                supera todas las expectativas, nos hemos ganado el título de la mejor concesionaria del mundo. Nuestro
                compromiso con la calidad y la satisfacción del cliente es inquebrantable, y cada auto que vendemos es
                una promesa de rendimiento, elegancia y confiabilidad. Descubre la perfección en cada detalle, desde la
                primera bienvenida hasta el servicio posventa. En “Autos Prestigio”, no solo compras un auto; adquieres
                una pieza de la excelencia automotriz.
            </h3>
        </section>
    </footer>
    <script src="../funcionesJS/alta.js"></script>
</body>

</html>